.main{
    height: 100%;
    weight: 100%;
    background:  rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.item-left{
    float: left;
    margin-right: 10px;
}
.item-right{
    float: right;
    margin-left: 10px;
}
.classes{
    background-color: whitesmoke!important;
    padding: 14px;
    border-left: 6px solid #ccc!important;
    border-color: #2196F3!important;
    overflow: hidden;
}
.head{
    color: white;
}